.navbar {
    justify-content: center;
    background-color: #adb5bd;
    color:aqua;
    text-align: center;
    margin: 20px;


}
.container {
    background-color: #adb5bd;
    color: aqua;

}
button {
    background-color: black;
    color: aqua;
}
h3 {
    color: black;
    text-align: center;
    margin: 20px;
}
.label {
    font-size: 24px;
    font-weight: bold;
}

#city-date {
    font-size: 24px;
    font-weight: bold;
}